@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-size: 4px;

  /* Color Settings */
  --backgroundColor: linear-gradient(#352e3d, #5c4b70);
  --ContainerColor: #ffffff;
  --TextColor: #636185;
  --MainColor: #302938;
  --Input-Color: #352e3d;
  --ButtonColor: #8e80f5;

  /* Font Settings */

  --Font: 'Montserrat', sans-serif;

  /*?  Reguler Font Settings */

  --Font-Reguler-Weight: 500;

  /*? Medium Font Settings */
  --Font-Medium-Weight: 600;

  /*? SemiBold Font Settings */
  --Font-Semibold-Weight: 700;

  /*? Bold Font Settings */
  --Font-Bold-Weight: 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

html {
  font-family: var(--Font);
}

body {
  background: var(--backgroundColor);
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */

.container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  background-color: var(--MainColor);
  width: 129rem;
  height: 154rem;
  justify-content: space-around;
  align-items: center;
}

/*? Title */

b {
  color: #ffffff;
  font-size: 5rem;
  font-weight: var(--Font-Semibold-Weight);
}

/*? Buttoms */

.buttons {
  display: flex;
  gap: 4rem;
}

.buttons button {
  background-color: var(--Input-Color);
  border: none;
  border-radius: 1rem;
  padding: 3rem 6rem;
  cursor: pointer;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
  color: #d3cbdb;
  font-size: 4rem;
  font-weight: var(--Font-Semibold-Weight);
}

.buttons button:hover {
  background-color: var(--ButtonColor);
  color: #302938;
}

/*? Inputs */

form {
  display: flex;
  flex-direction: column;
  width: 90rem;
  height: 79rem;
  justify-content: space-between;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form div label {
  color: #d3cbdb;
  font-size: 4rem;
  font-weight: var(--Font-Medium-Weight);
}

form input {
  padding: 5rem 2rem;
  background-color: var(--Input-Color);
  border: rgb(211, 203, 219, 0.7) 1px solid;
  color: #d3cbdb;
  border-radius: 1rem;
  font-size: 4rem;
  font-weight: var(--Font-Medium-Weight);
}

form button {
  height: 14rem;
  cursor: pointer;
  background-color: var(--ButtonColor);
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 4rem;
  font-weight: var(--Font-Medium-Weight);
}

form button:hover {
  background-color: var(--Input-Color);
  border: 1px solid #d3cbdb;
}

/*? Sign */

p {
  font-size: 4rem;
  font-weight: var(--Font-Medium-Weight);
  color: #fff;
}

a {
  color: #8e80f5;
  text-decoration: none;
}
